<div class="d-flex flex-row justify-content-between align-items-center">
    <h1 class="flex-grow-1">Thông báo</h1>
</div>

<div class="d-flex flex-column bg-white container-fluid gray-border border-radius-24 app-shadow" style="padding: 24px;">
    <div class="row">
        <div class="col-1 p-2">
        </div>
        <div class="col-6 p-2">
            <h4>Thông tin</h4>
        </div>
        <div class="col-3 p-2">
            <h4>Thời gian</h4>
        </div>
        <div class="col-2 p-2">
        </div>
    </div>

    {{#each notifications}}
    <div class="row mb-0 notification" onclick="redirectToNotification('{{_id}}')">
        <div class="col-1 p-2 mb-0">
        </div>
        <div class="col-6 p-2 mb-0">
            <p class="m-0 notitype">{{type}}</p>
        </div>
        <div class="col-3 p-2 mb-0">
            <p class="m-0 notitime">{{time}}</p>
        </div>
        <div class="col-2 p-2 mb-0">
            <p class="m-0 notiseen">{{seen}}</p>
        </div>
    </div>
    {{/each}}
</div>

<script>
    function isWarning(type) {
        return type.includes("vượt ngưỡng");
    }
</script>

<script>
    function redirectToNotification(id) {
        window.location.href = "./notification/" + id + "/";
    }
</script>

<script>
    var notifications = document.querySelectorAll('.notification');
    notifications.forEach(function(notification, index) {
        var timeTurnOnString = notification.querySelector('.notitime').innerText;

        var timeTurnOn = new Date(timeTurnOnString);
        var turnOnHours = timeTurnOn.getHours();
        var turnOnMinutes = timeTurnOn.getMinutes();
        var turnOnMonth = timeTurnOn.getMonth() + 1;
        var turnOnDate = timeTurnOn.getDate();
        var turnOnYear = timeTurnOn.getFullYear();
        var timeTurnOnFormatted = ('0' + turnOnHours).slice(-2) + ':' + ('0' + turnOnMinutes).slice(-2) + ' - ' + ('0' + turnOnDate).slice(-2) + '/' + ('0' + turnOnMonth).slice(-2) + '/20' + ('0' + turnOnYear).slice(-2);
        notification.querySelector('.notitime').innerText = timeTurnOnFormatted;
        
         var notiseen = notification.querySelector('.notiseen').innerText;
         if (notiseen == "true") {
            notification.style.backgroundColor = 'white';
            notification.querySelector('.notiseen').innerText = "";
         } 
         else {
            notification.style.backgroundColor = 'lightblue';
            notification.querySelector('.notiseen').innerText = "";
         }
    });
</script>

<script>
    var notifications = document.querySelectorAll('.notification');
    notifications.forEach(function(notification, index) {
        var notitype = notification.querySelector('.notitype').innerText;
        if (notitype.includes("vượt ngưỡng"))
        {
            notification.querySelector('.notitype').style.color = "red";
            notification.querySelector('.notitime').style.color = "red";
        }
    });
</script>
