<div id="search-bar" class="d-flex flex-row align-items-center w-100" style="">
    {{{readSVG "search-icon"}}}
    <input class="m-0 border-0 w-100" style="font-size: 16px;" placeholder="Tìm kiếm" />
</div>